<div class="row bg-dark " style="height: 100px">
    <div class="col-4 text-left" style="color: white">
        <p> Creada por Jose Miguel Torrealba <br> <small>2019</small>
    </div>
    <div class="col-4 text-center" style="color: white">
        <p>Solo para uso documental no poseo ningun derecho sobre la informacion de TheMovieDb<br>

    </div>
    <div class="col-4 " style="color: white">
        <p> Tecnologias: <br>Angular 8 typescript y servicios api de themovieDB</p>
    </div>
</div>